<main class="main">
  <div class="main__title">
    <h1 class="main__heading">Buscador de series</h1>
    <div class="searcher">
      <input type="text" class="searcher__input js-searchInput" />
      <button class="searcher__button js-searchButton">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div class="results">
    <div class="favorites">
      <div class="favorites__headingContainer">
        <i class="fas fa-chevron-down"></i>
        <h2 class="favorites__heading">Mis series favoritas</h2>
        <i class="fas fa-heart"></i>
      </div>
      <button class="js-removeAllFavoritesButton favorites__removeAll">
        Borrar todas
      </button>
      <div class="js-favoritesContainer favorites__mainContainer hidden"></div>
    </div>
    <div>
      <div class="series js-resultsContainer"></div>
    </div>
  </div>
</main>
