.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    color: $secondary-color;
    margin-bottom: 30px;
  }

  &__input {
    height: 40px;
    width: 300px;
    padding-left: 15px;
    border: 2px solid $tertiary-color;
    border-radius: 20px;
  }

  &__button {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border: none;
    border-radius: 30px;
    background-color: $tertiary-color;
  }

  &__results {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  &__seriesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: $light-color;
  }

  &__seriesName {
    text-align: center;
    margin: 20px;
    font-size: 18px;
  }
}

.fas {
  color: #ffffff;
}

.selected {
  background-color: $secondary-color;
}
