body {
  background-color: $main-color;
}

.main {
  &__title {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    font-family: 'Oswald', sans-serif;
    color: $main-color;
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
  }
}

.searcher {
  &__input {
    height: 40px;
    width: 300px;
    padding-left: 15px;
    border: 3px solid $secondary-color;
    border-radius: 20px;
    background-color: $main-color;
    color: $secondary-color;
    outline: none;

    @media all and (max-width: 423px) {
      width: 230px;
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border: none;
    border-radius: 30px;
    background-color: $main-color;
    outline: none;
    cursor: pointer;
  }
}

.favorites {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;

  &__mainContainer {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 20px;
  }

  &__headingContainer {
    display: flex;
    align-items: baseline;
    cursor: pointer;
  }

  &__heading {
    margin: 0px 10px 20px 10px;
    font-size: 20px;
    font-weight: lighter;
    color: $main-color;
  }

  &__removeAll {
    width: 120px;
    margin-left: 20px;
    height: 30px;
    background: none;
    border: solid 2px $main-color;
    border-radius: 30px;
    color: $main-color;
    outline: none;
    cursor: pointer;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px;
    margin: 20px 10px 10px 10px;
    background-color: $secondary-color;
    border-radius: 30px;
  }

  &__removeButton {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 30px;
    background-color: $main-color;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
  }

  &__image {
    width: 80px;
    margin-bottom: 10px;
  }

  &__name {
    font-size: 14px;
    height: 45px;
    width: 80px;
    color: $main-color;
    text-align: center;
  }
}

.series {
  margin-top: 80px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;

  @media all and (max-width: 568px) {
    flex-direction: column;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 214px;
    border: 2px solid $secondary-color;
    border-radius: 15px;
    margin: 0px 10px 20px 10px;

    &:hover {
      transform: translate(0, -5px);
    }
  }

  &__name {
    text-align: center;
    margin: 20px;
    font-size: 18px;
    color: $secondary-color;
  }

  &__image {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
  }
}

.fas {
  color: $secondary-color;
}

.fa-heart {
  color: $main-color;
}

.fa-chevron-down {
  font-size: 20px;
  color: $main-color;
}

.far {
  color: $secondary-color;
}

.selected {
  background-color: $secondary-color;

  .series__name {
    color: $main-color;
  }
}

.hidden {
  display: none;
}

.rotate-arrow {
  transform: rotate(180deg);
}

.animated-heart {
  animation-name: red-heart;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

.error-message {
  width: 70%;
  margin: auto;
  text-align: center;
  color: $secondary-color;
  font-size: 20px;
}

.error-message-light {
  color: $main-color;
  font-size: 16px;
  font-weight: lighter;
}

@keyframes red-heart {
  0%,
  100% {
    color: $main-color;
  }
  50% {
    color: #b30000;
    font-size: 20px;
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $secondary-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $main-color;
}
